* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "GalanoBold", Helvetica, Arial, sans-serif;
  position: relative;
  color: #000;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
    font-family: "GalanoBold", Helvetica, Arial, sans-serif;
}
ul,
li
 {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contact_detail > li,
.header_list > li {
  color: #333;
  font-size: 14px;
  vertical-align: middle;
  display: inline-block;
  padding: 2px 15px 2px 0;
}
a {
  color: #292b2c;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #20c997;
  text-decoration: underline;
}

.h-d a:hover {
  color: #6c757d;
  text-decoration: none;
  border-bottom: 10px solid #20c997;
}

.header_list > li i {
  margin-right: 6px;
  vertical-align: middle;
}

.navbar {
  padding: 0;
}
.navbar .navbar-nav li {
  position: relative;
  list-style: none;
  transition: all 0.3s ease 0s;
}
.contact_detail > li,
.header_list > li {
  color: #333;
  font-size: 14px;
  vertical-align: middle;
  display: inline-block;
  padding: 2px 15px 2px 0;
}

/* sticky header */
.sticky {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  margin: 0;
  animation: fadeItIn 1s;
  z-index: 1000;
  padding: 5px 0;
  min-height: 70px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 0;
  background-color: #fff;
}

@keyframes fadeItIn {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
/* end of sticky header */


.mega-menu {
  display: table;
  padding: 15px 0;
  width: 100%;
  flex-wrap: wrap;
}
.navbar .navbar-nav li.dropdown-mega-menu .dropdown-menu {
  right: 0;
  padding-left: 0;
  padding-right: 0;
}
.dark_skin .navbar-nav .dropdown-menu {
  background-color: #fff;
  box-shadow: 0 13px 42px 11px rgba(0, 0, 0, 0.05);
}
.navbar-nav .dropdown-menu {
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  min-width: 14rem;
}
.mega-menu-col {
  border-right: 1px solid #ddd;
  padding: 0;
}
.mega-menu ul {
  flex-wrap: wrap;
}
.navbar .navbar-nav .dropdown-header {
  color: #333;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.navbar .navbar-nav .dropdown-item {
  padding: 8px 20px 8px 20px;
  color: #333;
  text-transform: capitalize;
  font-weight: 700;
}
.navbar .navbar-nav li.dropdown-mega-menu {
  position: static;

}
.dropdown-item:focus,
.dropdown-item:hover,
.dropdown-item.active,
.dropdown-item:active {
  background-color: transparent;
}

.meg-n:focus,
.meg-n:hover,
.meg-n.active,
.meg-n:active {
  background-color: #efefef;
}




.col-lg-3{
  flex: 1 0 25%;
  max-width: 50%;
}

.sub-desc{
  font-size: 14px;
  line-height: 0.99rem;
  display: block;
  max-width: 80%;
  margin-top: -3px;
  padding-left: 19px;
}

.brand-name{
  font-weight: 700;
  font-size: 32px;
  color: #041836;
}
.card-deck  .card{
  margin-left: 0;
  margin-right:0;
  
}

.card{
  background-color: #efefef;
}
.card-wrapper  .card:hover{
  box-shadow: 0px 6px 14px 6px rgba(0, 0, 0, 0.2);
}

.card-h5{
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: -0.03rem;
  font-weight: bold;
}

.card-text{
  font-size: 1rem;
  line-height: 2.2rem;
  letter-spacing: -0.03rem;
}

.card-btn{
  position: absolute;
  bottom: 2.2rem;
}

.card-dropdown{
  font-size: 1.6rem;
  line-height: 2.2rem;
  letter-spacing: -0.03rem;
}

.card-dropdown a{
  padding: 1rem;
  line-height: 2.2rem;
  letter-spacing: -0.03rem;
}

.cursor{
  cursor:pointer;
}
.fw-bold ul li a{
  font-weight: bold;
}
.hero-main{
  /* background:#92E3A9; */
  margin-bottom: 8rem;
}
.hero{
  padding-top: 8rem;

}
.editors-picks{
  padding-left:14rem;
}

@media (max-width: 768px){
  .editors-picks{
    padding-left:0;
  }
}
.editors-picks h4 {
  border-bottom: 0.2rem solid #efefef;
  margin-bottom: 2.5rem;
  padding-bottom: 1rem;
}
 .editors-picks ul li {
  list-style: none;
  margin-bottom: 2.5rem;
  padding-left: 1.4rem;
  border-left-width: 0.2rem;
  border-left-style: solid;
  border-left-color: #20c997;
}

.page-title h1{
  font-size: 70px;
  line-height: 5rem;
  letter-spacing: -0.18rem;
}


/* footer */
.footer_dark {
  background: #92e3a9;
  color: #041836;
  position: relative;
}
.footer_top {
  padding: 100px 0 70px;
}
.footer_logo {
  margin-bottom: 20px;
  font-weight:700;
  font-size: 32px;
  color: #041836;

}

.widget_links  > * + * {
  padding-bottom:16px;
}

footer p {
  color:#041836;
  font-size: 14px;
}
footer li a {
  color: #041836;
  font-size: 14px;
}

.widget_title {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 18px;
  color: #041836;
  font-weight:700;
}
.bottom_footer {
  padding: 30px 0;
  position: relative;
}
.border-top-tran {
  border-top: 3px solid rgba(255, 255, 255, 0.1);
}
.footer_link li a:hover,
.widget_links li a:hover {
  color: #041836;
}

.f-socials > * + *{
  padding-left:1rem;
}
